<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Fred Bogg</string>
	<key>Buffer Order</key>
	<array>
		<string>ABCMusic</string>
		<string>ABCMusicData</string>
		<string>ABCMusicInstruments</string>
		<string>JSON</string>
		<string>MusicSetup</string>
		<string>MusicTick</string>
		<string>Main</string>
	</array>
	<key>Created</key>
	<string>2012-07-29 11:44:23 +0000</string>
	<key>Description</key>
	<string>Play ABC musical notation format tunes. This project was last run on Wed Aug  8 17:56:47 2012.</string>
</dict>
</plist>
