<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>ABCMusic</string>
		<string>ABCMusicData</string>
		<string>ABCMusicInstruments</string>
		<string>JSON</string>
		<string>Main</string>
	</array>
	<key>Created</key>
	<string>2011-12-02 14:56:31 +0000</string>
	<key>Description</key>
	<string>This project was last run on Sat Jun  9 18:38:49 2012.</string>
</dict>
</plist>
